*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    background-color: #EFEFDD;
    font-family: poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif, sans-serif;
}

html{
    font-size: 60%;
}

header{
    position: fixed; 
    width: 100%;
    height: 100px;
    top:0; 
    left:0; 
    padding: 4rem 15%;
    background:#8894B7;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    bottom:100;
}

#menu-icon{
    font-size: 3.5rem;
    color:#F5C74D; 
    display:none;
}

.logo{
    font-size: 3rem;
    font-weight: 800;
    cursor: pointer;
    color:#F5C74D;
}

nav a{
    font-size: 1.8rem;
    color:#F5C74D;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.btn{
    font-size: 1.8rem; 
    font-family: poppins;
    padding: 10px 10px; 
    margin: 0 5px 0 5px;
    border-radius: 3rem;
    color: #F5C74D;;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: none;
    text-wrap: nowrap;
    font-weight: 600;
    text-transform: uppercase;
}

.btn:hover{
    transform: scale(1.05);
    background: #F5C74D;;
    color:#8894B7;
}

.home_content{
    display: flex; 
    justify-content: center;
    gap: 15rem;
    align-items: center;
    padding-top: 150px;
    padding-left: 15%;
    padding-right:15%;
}

.home_img img{
    top: 100px;
    width: 32vw;
    border-radius: 50%;
    box-sizing: 10px;
    transition:  0.3s ease-in-out;
}



.main_content h1{
    font-size: 5rem;
    text-align: left;
}

.main_content h3{
    margin: 1rem 0;
    font-size: 3rem;
}

.main_content p{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.8;
    padding-bottom: 15px;
}


.wallpaper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Behind everything */
    pointer-events: none;
  }
  
  .content {
    position: relative;
    z-index: 1;
    padding: 2rem;
  }
  
  .flower {
    position: absolute;
    width: 30px;
    opacity: 0.8;
    animation: float infinite ease-in-out;
  }


/*styles for info.html*/ 

.images{
    display: flex;
    flex-wrap: wrap; /* Allow the items to wrap if there's not enough space */
    justify-content: space-between;
}

/* making of the layout*/
.image-container {
    height: 50vh; /* half the screen height */
    position:relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width:33.33333333333%;
}

.top{
    padding-top: 100px;
}



@keyframes float {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    50% {
      transform: translate(-5px, -10px) rotate(2deg);
    }
    100% {
      transform: translate(0, 0) rotate(0deg);
    }
  }


/*ensuring the image appears right, no zoom/distorion*/
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    animation: float 6s ease-in-out infinite;
}

.image-container img:hover{
    filter: invert(1);
    cursor: pointer;
}

/*display and charasteristics of the text in front of the image, making the background cover the entire image so the transition shows properly when hovering and clicking*/
.image-text {
    position: absolute;
    inset:0; 
    color: white; 
    font-size: 30px; 
    font-weight: bold;
    text-align: center;
    height:auto;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; /*to enable the invert effect when hovering*/
}

.top-text{
    top:100px;
}


/*lightbox characteristics*/
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /*semi-transparent black background*/

    /*centering the content inside the lighbox*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*making it invisible when not shown*/ 
    opacity: 0;
    visibility: hidden;

    transition: 0.3s; /*soft transition when it appears*/
    z-index: 10000; /*ensuring it stays on top of everything*/
}

/*display of the text and images inside the lightbox*/
.lightbox-content {
    background: white;
    padding: 20px;
    width: 80%;
    height: 80%;
    overflow-y: auto;
    position: relative;
    text-align: justify;
}

.lightbox-content img {
    display: block;
    margin: 0 auto;
    width: 50%; /* Ensure the image takes up the full width of the container */
    height: auto; /* Maintain the aspect ratio by adjusting the height accordingly */
    object-fit: contain; /* Ensure the image is contained within the container */
}

/*closing button */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}

/* showing the lightbox */
.lightbox.active {
    /*making it appear*/
    opacity: 1; 
    visibility: visible;
    
    overflow: hidden; /*preventing overflow*/
}

@media (max-width: 700px) {  /*adapting the layout to smaller screens*/
    .image-container {
        width: 100%;   /*each image takes up full width*/
        height: 450px; /*each image is 450px high*/
    }
}
